{% extends "layout.html" %}
{% block head %}

{% endblock head %}
{%block content%}
<section id="banner">
	<div class="inner">
		<h2 style="font-weight:bold">배송 현황</h2>
		
	</div>
</section>
	<div class="container">
		<div class="row">
			<div class="6u" style="margin: auto;">
				<br>
   				<section class="special"
					style="border: 1px solid lavender; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8);">
					<div>
						<div>

							<p style=" color:#FFFFFF; font-weight:bold; font-size: 20px; text-align:left; padding: 20px;  background-color:#238b57">배송중 12/16(수) 도착예정

								<img src="../static/images/more.png" style="max-width: 25px;; position: absolute; left: 300px;">
							</p>
						</div>
					</div>
					<div style="display: inline;">
						<div>
							<a class="image fit"><img src="../static/images/당근.jpg" align="left" style="max-width: 100px;"
									alt="" /></a>
						</div>
						<div>
							<h2 style="font-size: 15px;">
								당근당근 당진당근이지~
							</h2>
						</div>
						<div>
							<h1 style="font-size: large; text-align:center;"><b>4,354원 </b> 도매가격</h1>
						</div>
					</div>
					<div style="display: flex; justify-content: space-around;">
						<button type="button"
						style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">리뷰쓰기</button>
					<button type="button"
						style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">재구매</button>
					<button type="button" onclick="window.location.href='{{ url_for('paypal') }}'"
						style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">배송조회</button>
					</div>
					<div>
						<h5></h5>
					</div>
				</section>
			</div>
			<div class="6u">
				<br>
				<section class="special"
					style="border: 1px solid lavender; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8);">
					<div>
						<div>
							<p style=" color:#FFFFFF; font-weight:bold; font-size: 20px; text-align:left; padding: 20px;  background-color:#238b57">배송완료 12/05(수) 도착

								<img src="../static/images/more.png" style="max-width: 25px;; position: absolute; left: 300px;">
							</p>
						</div>
					</div>
					<div style="display: inline;">
						<div>
							<a class="image fit"><img src="../static/images/아스파라거스.jpg" align="left"
									style="max-width: 70px; padding-left: 5px;" alt="" /></a>
						</div>
						<div>
							<h2 style="font-size: 15px;">
								귀농부부가 직접기른 아스파라거스
							</h2>
						</div>
						<div>
							<h1 style="font-size: large; text-align:center;"><b>7,505원 </b> 도매가격</h1>
						</div>
					</div>
					<div style="display: flex; justify-content: space-around;">
						<button type="button"
							style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">리뷰쓰기</button>
						<button type="button"
							style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">재구매</button>
						<button type="button" onclick="window.location.href='{{ url_for('paypal') }}'"
							style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">배송조회</button>
					</div>
					<div>
						<h5></h5>
					</div>
				</section>
			</div>
			<br>
			<div class="6u">
				<br>
				<section class="special"
					style="border: 1px solid lavender; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8);">
					<div>
						<div>
							<p style=" color:#FFFFFF; font-weight:bold; font-size: 20px; text-align:left; padding: 20px;  background-color:#238b57">배송완료 12/05(수) 도착
								<img src="../static//images/more.png" style="max-width: 25px;; position: absolute; left: 300px;">
							</p>
						</div>
					</div>
					<div style="display: inline;">
						<div>
							<a class="image fit"><img src="../static/images/딸기.png" align="left"
									style="max-width: 70px; padding-left: 5px;" alt="" /></a>
						</div>
						<div>
							<h2 style="font-size: 15px;">
								딸기가 회사에서 잘리면은 뭔지알아?<br> 딸기 시럽!</h2>
						</div>
						<div>
							<h1 style="font-size: large; text-align:center;"><b>11,900원 </b>직거래가격</h1>
						</div>
					</div>
					<div style="display: flex; justify-content: space-around;">
						<button type="button"
							style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">리뷰쓰기</button>
						<button type="button"
							style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">재구매</button>
						<button type="button" onclick="window.location.href='{{ url_for('paypal') }}'"
							style="font-size: 20px; border-radius: 5px; border-color: lavender; background-color: #ffffff; color: black;">배송조회</button>
					</div>
					<div>
						<h5></h5>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock content %}