{% extends "layout.html" %}
{% block head %}
	<style>
		p{
			text-align: center;
			font-weight: 600;
			font-size: 20px;
		}
	</style>
{% endblock head %}

{% block content %}>
		<section id="banner">
			<div class="inner">
				<h2 style="font-weight:bold">구 독</h2>
			</div>
		</section>
			<section id="two" class="wrapper style2">
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special"
								style="border: 1px solid grey; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8);">
								<form method ="POST">
                                    <button type="submit" class="btn btn-primary" style="width: 300px; height: 70px; background-color: #d1d1a8; border: 1px solid white; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8); font-weight: 1000; font-size: 30px; color: white;">베이직 8,900원</button>
                                    {%with messages = get_flashed_messages()%}
                                    {%if messages %}
                                      <script type="text/javascript">
                                        alert("{{messages[-1]}}");
                                      </script>
                                      {%endif%}
                                    {%endwith%}
 
                                </form>

									<p>사용기간 : 1개월</p>
									<p>실시간 보기 : O</p>
									<p>무료배송 : X</p>
									<p>키워보기 : X</p>
							</section>
						</div>
					</div>
				</div>
			</section>
			<section id="two" class="wrapper style2">
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special"
								style="border: 1px solid grey; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8);">
								<button type="button" class="show-alert" style="width: 300px; height: 70px; background-color: rgb(121, 192, 121); border: 1px solid white; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8); font-weight: 1000; font-size: 30px; color: white;">스탠다드 14,500원</button>
								<br>
								<p>사용기간 : 1개월</p>
								<p>실시간 보기 : O</p>
								<p>무료배송 : O</p>
								<p>키워보기 : X</p>
							</section>
						</div>
					</div>
				</div>
			</section>
			<section id="two" class="wrapper style2">
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special"
								style="border: 1px solid grey; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8);">
								<button type="button" class="show-alert" style="width: 300px; height: 70px; background-color: rgb(245, 209, 4); border: 1px solid white; border-radius: 10px; box-shadow: 0px 0px 5px 2px rgba(134,132,130,0.8); font-weight: 1000; font-size: 30px; color: white;">프리미엄 39,000원</button>
								<br>
								<p>사용기간 : 1개월</p>
								<p>실시간 보기 : O</p>
								<p>무료배송 : O</p>
								<p>키워보기 : O</p>
							</section>
						</div>
					</div>
				</div>
			</section>
{% endblock content %}

{% block box %}

{% endblock box %}