{% extends "layout.html" %}
{% block head %}
	
{% endblock head %}
{% block content %}
    <section id="two" class="wrapper style2">
                    
        <div class="container">
            <div class="row">
                <div class="6u">
                    <section class="special" style="border: 5px double grey; border-radius: 10px; box-shadow: 0px 0px 13px 3px rgba(134,132,130,0.8);">
                        <img src="../static/images/산마늘.jpg" alt="" class="image fit"/></a>
                        <div>
                            <h2>산마늘</h2>
                            <h5>가격 : 10000원 / 1팩 : 2000원</h5>
                        </div>
                    </section>
                </div>
                <br>
                <br>
                    <h2 style="text-align: center; margin: 20px;">상품설명</h2>
                    <p>
                        맛좋은 산마늘이에요 아주 싱싱하죠 지금바로 키워보세요!
                    </p> 
            </div>
        </div>
    </section>
    <div class="container" style="text-align: center;">
        <!-- <div class="row" > -->
            <!-- <div class="6u" style="margin-bottom: 15px; text-align: center;"> -->
                <button onclick=window.location.href="{{ url_for('paypal') }}" style="margin: auto; width: 40%; font-size: 19px; margin-bottom: 10px; border-radius: 10px; border-color: lavender; background-color: white; color: black;">1팩 구매하기</button>

                <button onclick=window.location.href="{{ url_for('subscription') }}" style="margin: auto; width: 40%; font-size: 19px; margin-bottom: 10px; border-radius: 10px; border-color: lavender; background-color: white; color: black;">구독하기</button>
           
            <!-- </div> -->
        <!-- </div> -->
    </div>

{% endblock content %}

{% block box %}
<script>
    $(document).on("click", ".show-alert", function (e) {
        bootbox.confirm({
            message: "정말 결제하시겠습니까?",
            buttons: {
                confirm: {
                    label: '네',
                    className: 'btn-primary'
                },
                cancel: {
                    label: '아니요',
                    className: 'btn-secondary'
                }
            },
        callback: function (result) {
            console.log('This was logged in the callback: ' + result);
        }
        });
    });
</script>
{% endblock box %}